#about{
    text-align: center;
    margin-top: 5%;
}
#dema video{
    width: 60%;
}
#dema{
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    background-color: rgb(78, 77, 77);
}
#dema p{
    transform: rotate(-90deg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 350% ;
       color: rgba(255, 255, 255, 0.9);
}
section :nth-child(3) a{

    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    border-radius: 50px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 30%;
    /* justify-items: center; */
    /* margin-bottom: 5%; */
    color:  rgba(245, 235, 233, 0.942);
    background-color:rgba(255, 140, 115,0.7) ;
    border: solid 3px rgba(245, 235, 233, 0.942);
    height: 20%;
    /* transform: translate(-200%,0%); */
}
section :nth-child(3) a:hover{
    color:  rgba(255, 140, 115,0.7);
    background-color:rgba(245, 235, 233, 0.942) ;
    border: solid 3px rgba(255, 140, 115,0.7);
}

#logo{
    padding: 20%;
    padding-left: 25%;
    padding-right: 25%;
    background-color: rgba(177, 175, 175, 0.5);
    width: 50%;
}
#divLogo{
    animation: changeBackground 10s infinite;
}

@media (max-width: 767px){
    section :nth-child(3) a{
        margin-left: 20%;
    }
}

@keyframes changeBackground{
    0%{
        background:   url(./images/רקע2.jpg)  center / cover no-repeat;
        background-size: 100%;
    }
    50%{
        background: url(./images/רקע1.jpg) center / cover no-repeat;
        background-size: 100%;
    }
    80%{
        background: url(./images/רקע3.jpg) center / cover no-repeat;
        background-size: 100%;
    }
    100%{
        background: url(./images/רקע4.jpg) center / cover no-repeat;
        background-size: 100%;
    }
}